@font-face {
  font-family: 'Metropolis';
  src: url('../assets/fonts/Metropolis-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../assets/fonts/Metropolis-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../assets/fonts/Metropolis-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LineRoundedIcons';
  src: url('../assets/fonts/Line-Rounded-Icons.woff2');
}

@font-face {
  font-family: 'CustomIcons';
  src: url('../assets/fonts/custom-icons.woff2');
}
