@use 'utilities';

.about-title {
  @extend .content-title;
  margin-bottom: 12px;
}

.about-header {
  @extend .content-header;
}

.about-container {
  @extend .content-container;
  padding-bottom: 50px;
}

.about-image-wrapper {
  @extend .content-image-wrapper;
}

.about-image {
  @extend .content-image;
}

.about-grid {
  grid-column-gap: 55px;
  grid-template-columns: 1.05fr 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.about-content {
  justify-self: end;
  max-width: 480px;
}

@media screen and (max-width: 991px) {
  .about-grid {
    grid-row-gap: 60px;
    grid-template-columns: 1fr;
  }

  .about-content {
    order: -1;
  }
}

@media screen and (max-width: 767px) {
  .about-grid {
    grid-row-gap: 50px;
  }
}
