@use 'utilities';

.section-intro {
  padding: 70px 24px 127px;
  margin: 0 auto;
  max-width: 1270px;
  background-color: var(--neutral--200);
}

.intro-number {
  color: var(--neutral--800);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.179em;
  margin-bottom: 6px;
}

.intro-sign {
  color: var(--accent--primary-1);
}

.intro-text {
  font-size: 18px;
  line-height: 1.111em;
  font-weight: 500;
}

.intro-title {
  @extend .content-title;
  margin-bottom: 22px;
}

.intro-header {
  @extend .content-header;
}

a:hover,
a:active {
  outline: 0;
}
