@use 'utilities';

.mission-title {
  @extend .content-title;
  margin-bottom: 12px;
}

.mission-header {
  @extend .content-header;
}

.mission-container {
  @extend .content-container;
  padding-top: 50px;
}

.mission-image-wrapper {
  @extend .content-image-wrapper;
}

.mission-image {
  @extend .content-image;
}

.mission-content {
  max-width: 533px;
}

.mission-grid {
  grid-column-gap: 55px;
  grid-template-columns: 1fr 1.05fr;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

@media screen and (max-width: 991px) {
  .mission-grid {
    grid-row-gap: 60px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .mission-grid {
    grid-row-gap: 50px;
  }
}
